<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for @outgo do |f| %>
      <div class="form-inputs">
        <% if f.object.card.present? %>
          <%= f.input :card_id, as: :hidden %>
          <%= f.input :card, disabled: true %>
        <% end %>
        <%= f.input :description, input_html: { autofocus: true } %>
        <%= f.input :paid_at, as: :string, input_html: { class: :date } %>
        <%= f.input :category %>
        <%= f.input :chargeable_type, collection: %w(Account Card) %>
        <%= f.association :chargeable, collection: (@outgo.chargeable_type == 'Account' ? Account.ordered : Card.ordered), label: @outgo.chargeable_type %>
        <% if f.object.card.blank? %>
          <%= f.input :value, disabled: @outgo.paid? %>
        <% else %>
          <%= f.input :total, disabled: true, value: f.object.value, required: true, label: "Value" %>
          <%= f.input :value, as: :hidden %>
          <div class="outgo-checkboxes">
            <%= f.association :outgos, as: :check_boxes, collection: (f.object.card.movements.unpaid + f.object.outgos).uniq %>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-success' %>
        <% if @outgo.persisted? %>
          <%= link_to 'Back', outgos_path, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Back', @outgo, class: 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  window.accounts = <%= JSON.dump(Account.all.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
  window.cards = <%= JSON.dump(Card.all.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
<% end %>
