<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for @outgo do |f| %>
      <div class="form-inputs">
        <% if f.object.card.present? %>
          <%= f.input :card_id, as: :hidden %>
          <%= f.input :card, disabled: true %>
        <% end %>
        <%= f.input :description, input_html: { autofocus: true } %>
        <%= f.input :paid_at, as: :string, input_html: { class: :date } %>
        <%= f.input :category %>
        <%= f.input :chargeable_type, collection: %w(Account Card), disabled: (@outgo.paid? || @outgo.chargeable_inactive?) %>
        <% if @outgo.paid? || @outgo.chargeable_inactive? %>
          <%= f.association :chargeable, collection: [@outgo.chargeable], label: @outgo.chargeable_type, disabled: true %>
        <% else %>
          <%= f.association :chargeable, collection: (@outgo.chargeable_type == 'Account' ? Account.active.ordered : Card.active.ordered), label: @outgo.chargeable_type %>
        <% end %>
        <%= f.input :value, disabled: (@outgo.paid? || @outgo.chargeable_inactive?) %>
        <%= f.input :fee, disabled: (@outgo.paid? || @outgo.chargeable_inactive?) %>
        <%= f.input :fee_kind, collection: FeeKind %>
        <% if f.object.card.present? %>
          <div class="outgo-checkboxes">
            <div class="form-group check_boxes optional outgo_outgos">
              <label class="check_boxes optional control-label">Outgos</label>

              <table class="table table-inbox table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Chargeable</th>
                    <th>Paid at</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @outgos.each do |outgo| %>
                    <tr class="<%= outgo.paid? ? :success : :warning %>" data-value="<%= outgo.total %>">
                      <td>
                        <input class="check_boxes optional" type="checkbox" value="<%= outgo.id %>" name="outgo[outgo_ids][]" id="outgo_outgo_ids_<%= outgo.id %>" <%= 'checked="checked"' if f.object.outgos.include?(outgo) %>>
                      </td>
                      <td>
                        <%= link_to outgo do %>
                          #<%= outgo.id %>
                      <% end %>
                      </td>
                      <td>
                        <%= content_tag :label, for: "outgo_outgo_ids_#{outgo.id}" do %>
                          <%= outgo.description %>
                          <% if outgo.category.present? %>
                            <span class="label label-info"><%= outgo.category %></span>
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= total outgo %></td>
                      <td><%= outgo.chargeable %></td>
                      <td>
                        <%= l outgo.paid_at, format: :long %>
                      </td>
                      <td>
                        <%= link_to(edit_outgo_path(outgo.id)) do %>
                          <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-success' %>
        <% if @outgo.persisted? %>
          <%= link_to 'Back', outgo_path(@outgo), class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Back', outgos_path, class: 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  window.accounts = <%= JSON.dump(Account.active.ordered.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
  window.cards = <%= JSON.dump(Card.active.ordered.all.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
<% end %>
