<div class="padding-md">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= simple_form_for @outgo do |f| %>
            <%= f.input :description %>
            <%= f.input :paid_at, as: :string, input_html: { class: :date } %>
            <%= f.input :category %>
            <%= f.input :chargeable_type, collection: %w(Account Card) %>
            <%= f.association :chargeable, collection: (@outgo.chargeable_type == 'Account' ? Account.ordered : Card.ordered), label: @outgo.chargeable_type %>
            <%= f.input :value, disabled: @outgo.paid? %>

            <%= f.submit class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.accounts = <%= JSON.dump(Account.all.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
  window.cards = <%= JSON.dump(Card.all.map { |a| { id: a.id, name: a.to_s } }).html_safe %>;
<% end %>
