<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @outgo do |show| %>
      <%= show.attribute :description %>
      <%= show.attribute :paid_at %>
      <%= show.attribute :value do %>
        <%= number_to_currency @outgo.value %>
      <% end %>
      <%= show.attribute :category %>
      <%= show.attribute :chargeable_type %>
      <%= show.attribute :chargeable %>
      <%= show.attribute :paid %>
      <%= show.association :outgos %>
    <% end %>

    <%= link_to 'Duplicate', new_outgo_path(outgo: @outgo.duplicable_attributes), class: 'btn btn-info' %>
    <% if @outgo.paid? %>
      <%= link_to 'Confirm', {action: :unconfirm, id: @outgo.id, back: :show}, title: 'Unconfirm', class: 'btn btn-success' %>
    <% else %>
      <%= link_to 'Unconfirm', {action: :confirm, id: @outgo.id, back: :show}, title: 'Confirm', class: 'btn btn-warning' %>
    <% end %>
    <%= link_to 'Edit', edit_outgo_path(@outgo), class: 'btn btn-info' %>
    <%= link_to 'Back', outgos_path, class: 'btn btn-default' %>
  </div>
</div>
