<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @income do |show| %>
      <%= show.attribute :description %>
      <%= show.attribute :paid_at %>
      <%= show.attribute :value %>
      <%= show.attribute :category %>
      <%= show.attribute :chargeable %>
      <%= show.attribute :paid %>
    <% end %>

    <%= link_to 'Duplicate', new_income_path(income: @income.duplicable_attributes), class: 'btn btn-info' %>
    <% if @income.paid? %>
      <%= link_to 'Unconfirm', {action: :unconfirm, id: @income.id, back: :show}, title: 'Unconfirm', class: 'btn btn-warning' %>
    <% else %>
      <%= link_to 'Confirm', {action: :confirm, id: @income.id, back: :show}, title: 'Confirm', class: 'btn btn-success' %>
    <% end %>
    <%= link_to 'Edit', edit_income_path(@income), class: 'btn btn-info' %>
    <%= link_to 'Delete', @income, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
    <%= link_to 'Back', incomes_path, class: 'btn btn-default' %>
  </div>
</div>
