<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @income.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @income.value %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @income.paid %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
