<div class="panel_contents outgo-checkboxes">
  <div class="form-group check_boxes optional outgo_outgos">
    <label class="check_boxes optional control-label">Outgos</label>

    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Description</th>
          <th>Value</th>
          <th>Chargeable</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% FindOutgos.list!(@outgo).each do |outgo| %>
          <tr class="<%= cycle(:odd, :even) %>" data-value="<%= outgo.object.total %>">
            <td class="col">
              <input class="check_boxes optional" type="checkbox" value="<%= outgo.id %>" name="outgo[outgo_ids][]" id="outgo_outgo_ids_<%= outgo.id %>" <%= 'checked="checked"' if f.object.outgos.include?(outgo) %>>
            </td>
            <td class="col"><%= link_to outgo.id, admin_outgo_path(outgo) %></td>
            <td class="col">
              <%= content_tag :label, for: "outgo_outgo_ids_#{outgo.id}" do %>
                <%= outgo.description %>
              <% end %>
            </td>
            <td class="col"><%= outgo.total %></td>
            <td class="col"><%= outgo.chargeable %></td>
            <td class="col"><%= l outgo.date, format: :long %></td>
            <td class="col">
              <%= link_to "View", admin_outgo_path(outgo) %>
              <%= link_to "Edit", edit_admin_outgo_path(outgo) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= hidden_field_tag "outgo[outgo_ids][]", nil %>
