<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="col">#</th>
      <th class="col">Confirmed</th>
      <th class="col">Description</th>
      <th class="col">Value</th>
      <th class="col">Chargeable</th>
      <th class="col">Date</th>
      <th class="col"></th>
    </tr>
  </thead>

  <tbody>
    <% outgos.each do |outgo| %>
      <tr class="<%= cycle(:odd, :even) %>" data-value="<%= outgo.object.total %>">
        <td class="col"><%= link_to outgo.id, admin_outgo_path(outgo) %></td>
        <td class="col">
          <% if outgo.object.confirmed? %>
            <span class="status_tag yes">Yes</span>
          <% else %>
            <span class="status_tag no">No</span>
          <% end %>
        </td>
        <td>
          <%= content_tag :label, for: "outgo_outgo_ids_#{outgo.id}" do %>
            <%= outgo.description %>
          <% end %>
        </td>
        <td class="col"><%= outgo.total %></td>
        <td class="col">
          <%= link_to outgo.chargeable, resource_url(outgo.chargeable) %>
        </td>
        <td class="col"><%= l outgo.date, format: :long %></td>
        <td class="col">
          <%= link_to "View", admin_outgo_path(outgo) %>
          <%= link_to "Edit", edit_admin_outgo_path(outgo) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
