<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New', new_card_path, class: 'btn btn-success' %>

    <span class="badge badge-info pull-right">
      <%= Card.count %>
    </span>
  </div>

  <table class="table table-inbox table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Limit</th>
        <th>Payment day</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td>#<%= link_to card.id, card %></td>
          <td class="view-message"><%= card.name %></td>
          <td class="view-message dont-show"><%= number_to_currency card.limit %></td>
          <td class="view-message text-right"><%= card.payment_day %></td>
          <td class="inbox-small-cells">
            <%= link_to edit_card_path(card) do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
