<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @card do |show| %>
      <%= show.attribute :active %>
      <%= show.attribute :name %>
      <%= show.attribute :limit do %>
        <%= number_to_currency @card.limit %>
      <% end %>
      <%= show.attribute :payment_day %>
    <% end %>

    <div class="form-actions">
      <%= link_to 'Create payment', new_outgo_path(outgo: { card_id: @card.id }), class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_card_path(@card), class: 'btn btn-info' %>
      <%= link_to 'Back', cards_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New', new_outgo_path(outgo: { chargeable_type: 'Card', chargeable_id: @card.id }), class: 'btn btn-success' %>

    <span class="badge badge-info pull-right">
      <%= @movements.count %> items<br>
      <%= number_to_currency @movements.to_a.sum(&:total) %>
    </span>
  </div>

  <table class="table table-inbox table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Value</th>
        <th>Chargeable</th>
        <th>Paid at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @movements.each do |movement| %>
        <%= render partial: 'movements/movement', locals: { movement: movement } %>
      <% end %>
    </tbody>
  </table>
</div>
