<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @card do |show| %>
      <%= show.attribute :name %>
      <%= show.attribute :limit do %>
        <%= number_to_currency @card.limit %>
      <% end %>
      <%= show.attribute :payment_day %>
    <% end %>

    <div class="form-actions">
      <%= link_to 'Create payment', new_outgo_path(outgo: { card_id: @card.id }), class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_card_path(@card), class: 'btn btn-info' %>
      <%= link_to 'Back', cards_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New', new_outgo_path(outgo: { chargeable_type: 'Card', chargeable_id: @card.id }), class: 'btn btn-success' %>
    <%= @period.to_s %>

    <div class="pull-right">
    </div>
    <span class="badge badge-info pull-right">
      <%= @movements.reject(&:paid?).count %> items left<br>
      <%= number_to_currency @movements.reject(&:paid?).sum(&:value) %> left
    </span>
  </div>

  <div class="panel-body">
    <%= link_to 'Previous Month', { action: :show, id: @card.id, year: @period.previous.year, month: @period.previous.month}, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Next Month', { action: :show, id: @card.id, year: @period.next.year, month: @period.next.month}, class: 'btn btn-success btn-sm pull-right' %>
  </div>

  <table class="table table-inbox table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Value</th>
        <th>Chargeable</th>
        <th>Paid at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @movements.each do |movement| %>
        <tr class="<%= movement.paid? ? :success : :warning %>">
          <td>
            <%= link_to movement do %>
              #<%= movement.id %>
            <% end %>
          </td>
          <td>
            <%= movement.description %>
            <% if movement.category.present? %>
              <span class="label label-info"><%= movement.category %></span>
            <% end %>
          </td>
          <td><%= number_to_currency movement.value %></td>
          <td>
            <%= movement.chargeable %>
          </td>
          <td>
            <%= l movement.paid_at, format: :long %>
          </td>
          <td>
            <%= link_to(action: :edit, id: movement.id) do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
