<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for @transfer do |f| %>
      <div class="form-inputs">
        <%= f.association :source, collection: Account.ordered %>
        <%= f.association :destination, collection: Account.ordered %>
        <%= f.input :transfered_at, as: :string, input_html: { class: :date } %>
        <%= f.input :value, disabled: @transfer.transfered? %>
        <%= f.input :fee, disabled: @transfer.transfered? %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-success' %>
        <% if @transfer.persisted? %>
          <%= link_to 'Back', transfers_path, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Back', @transfer, class: 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
