<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New', new_transfer_path, class: 'btn btn-success' %>
    <%= @period.to_s %>

    <span class="badge badge-info pull-right">
      <%= @transfers.count %>
    </span>
  </div>

  <div class="panel-body">
    <%= link_to 'Previous Month', { action: :index, year: @period.previous.year, month: @period.previous.month}, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Next Month', { action: :index, year: @period.next.year, month: @period.next.month}, class: 'btn btn-success btn-sm pull-right' %>
  </div>

  <table class="table table-inbox table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Value</th>
        <th>Confirmed at</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transfers.each do |transfer| %>
        <tr class="<%= transfer.transfered? ? :success : :warning %>">
          <td>
            <%= link_to transfer do %>
              #<%= transfer.id %>
            <% end %>
          </td>
          <td><%= transfer.source %></td>
          <td><%= transfer.destination %></td>
          <td><%= number_to_currency transfer.value %></td>
          <td><%= transfer.transfered_at %></td>
          <td>
            <% if transfer.transfered? %>
              <%= link_to({action: :unconfirm, id: transfer.id}, title: 'Unconfirm') do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% else %>
              <%= link_to({action: :confirm, id: transfer.id}, title: 'Confirm') do %>
                <i class="fa fa-check"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_transfer_path(transfer), title: 'Edit' do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
