<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @transfer do |show| %>
      <%= show.attribute :source %>
      <%= show.attribute :destination %>
      <%= show.attribute :transfered_at %>
      <%= show.attribute :value do %>
        <%= numeric @transfer.value %>
      <% end %>
      <%= show.attribute :fee do %>
        <%= numeric @transfer.fee %>
      <% end %>
    <% end %>

    <% if @transfer.confirmed? %>
      <%= link_to 'Unconfirm', {action: :unconfirm, id: @transfer.id, back: :show}, title: 'Unconfirm', class: 'btn btn-success' %>
    <% else %>
      <%= link_to 'Confirm', {action: :confirm, id: @transfer.id, back: :show}, title: 'Confirm', class: 'btn btn-warning' %>
    <% end %>
    <%= link_to 'Edit', edit_transfer_path(@transfer), class: 'btn btn-info' %>
    <%= link_to 'Back', transfers_path, class: 'btn btn-default' %>
  </div>
</div>
