<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @transfer do |show| %>
      <%= show.attribute :source %>
      <%= show.attribute :destination %>
      <%= show.attribute :transfered_at %>
      <%= show.attribute :value do %>
        <%= number_to_currency @transfer.value %>
      <% end %>
    <% end %>

    <%= link_to 'Edit', edit_transfer_path(@transfer), class: 'btn btn-info' %>
    <%= link_to 'Back', transfers_path, class: 'btn btn-default' %>
  </div>
</div>
