<p>
After loggining click in <em><%= Account.model_name.human(count: 2) %></em>:
</p>

<%= image_tag "screenshots/create_account_01" %>

<p>
Click in <em>New Account</em>, and then you will see this form:
</p>

<%= image_tag "screenshots/create_account_02" %>

<p>
Fill, at least, the <em><%= Account.human_attribute_name(:name) %></em> field and click in <em>Create Account</em>.
</p>

<p>
After that your screen will look like this:
</p>

<%= image_tag "screenshots/create_account_03" %>

<p>
And your account is created.
</p>
