<!DOCTYPE html>
<html>
  <head>
    <title>Organize2</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

        <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Organize2', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= content_tag :li, class: (:active if controller_name == 'outgos') do %>
              <%= link_to 'Outgos', outgos_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'incomes') do %>
              <%= link_to 'Incomes', incomes_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'transfers') do %>
              <%= link_to 'Transfers', transfers_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'trades') do %>
              <%= link_to 'Trades', trades_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'pendings') do %>
              <%= link_to 'Pendings', pendings_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'accounts') do %>
              <%= link_to 'Accounts', accounts_path %>
            <% end %>
            <%= content_tag :li, class: (:active if controller_name == 'cards') do %>
              <%= link_to 'Cards', cards_path %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        <h1><%= controller_name.capitalize %></h1>
      </div>

      <% if notice %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <%= yield :javascript %>
  </body>
</html>
