<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for(@account) do |f| %>
      <div class="form-inputs">
        <%= f.input :active if @account.persisted? %>
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :currency, hint: 'BRL, USD, …' %>
        <%= f.input :start_balance if @account.new_record? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <% if @account.persisted? %>
          <%= link_to 'Back', accounts_path, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Back', @account, class: 'btn btn-default' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
