<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to 'New', new_account_path, class: 'btn btn-success' %>

    <div class="pull-right">
      <% Account.pluck(:currency).uniq.each do |currency| %>
        <span class="label label-info pull-right">
          <%= currency %><br>
          <%= Account.where(currency: currency).sum(:balance) %>
        </span>
      <% end %>
    </div>
  </div>

  <table class="table table-inbox table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Currency</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr class="<%= account.active? ? :success : :warning %>">
          <td>
            <%= link_to account do %>
              #<%= account.id %>
            <% end %>
          </td>
          <td><%= account.name %></td>
          <td><%= account.currency %></td>
          <td><%= account.balance %></td>
          <td>
            <%= link_to edit_account_path(account) do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
