<p id="notice"><%= notice %></p>

<div class="padding-md">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'New', new_account_path, class: 'btn btn-success' %>

          <span class="badge badge-info pull-right">	
            4 left
          </span>
        </div>
        <table class="table table-inbox table-hover">
          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= link_to account.name, account %></td>
                <td><%= account.balance %></td>
                <td class="inbox-small-cells">
                  <td>
                    <%= link_to edit_account_path(account) do %>
                      <i class="fa fa-pencil-square-o"></i>
                    <% end %>
                  </td>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /panel -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.padding-md -->
