<div class="panel panel-default">
  <div class="panel-body">
    <%= show_for @account do |show| %>
      <%= show.attribute :active %>
      <%= show.attribute :name %>
      <%= show.attribute :currency %>
      <%= show.attribute :start_balance %>
      <%= show.attribute :balance %>
      <%= show.attribute :precision %>
    <% end %>

    <%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-info' %>
    <%= link_to 'Back', accounts_path, class: 'btn btn-default' %>
  </div>
</div>
